<div class="container">
  <h3>Sales</h3>

  <form action="" class="">
    <div class="form-group">
      <label for="exampleFormControlInput1">Item Name:</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" name="item" placeholder="Item name"
        [(ngModel)]="itemName" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Brand:</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" name="brand" placeholder="Brand"
        [(ngModel)]="brand" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Quantity:</label>
      <input type="number" class="form-control" id="exampleFormControlInput1" name="quantity" placeholder="Quantity"
        [(ngModel)]="quantity" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Price in KSH:</label>
      <input type="number" class="form-control" id="exampleFormControlInput1" name="price" placeholder="Price"
        [(ngModel)]="price" required>
    </div>
    <!-- <input type="text" name = "item" placeholder = "Item name" [(ngModel)]="itemName"><br>
    <input type="number" name = "quantity" placeholder="Quantity" [(ngModel)]="quantity"><br>
    <input type="text" name="brand" placeholder="Brand" [(ngModel)]="brand"><br>
    <input type="number" name="price" placeholder="Price in KSH" [(ngModel)]="price"><br> -->
    <button class="btn btn-success" (click)="addSaleItem()">Add new sale </button>
    <button class="btn btn-danger" (click)="clearSalesList()">Clear List</button>
  </form>
  <!-- <button class="btn btn-danger" (click)="clearSalesList()">Clear List</button> -->

  <div class="column">
    <ol class="list-group list-group-numbered">
      <li *ngFor="let item of sales; let id = index"
        class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{ item.itemName }} - {{ item.brand }}| Ksh. {{ item.price }}</div>
          <p>{{ item.quantity }} | Total stock in Ksh. {{ item.totalStockPrice }}</p>
        </div>
        <!-- <span class="badge bg-danger rounded-pill"><button class="material-symbols-outlined">delete</button></span> -->
        <button (click)="onDeleteSaleItem(id)" type="button" class="btn btn-danger delete-item-button"><span
            class="material-symbols-outlined">delete</span></button>

      </li>
    </ol>
  </div>
</div>