<nav>
    <ul>
        <!-- <li>
            <a routerLink="/users">
                <span class="material-symbols-outlined">
                    group
                    </span>
                    Users
            </a>
        </li> -->
        <li>
            <a routerLink="/sales">
                <span class="material-symbols-outlined">
                    shopping_cart
                    </span>
                    Sales
            </a>
        </li>
        <li>
            <a routerLink="/stock">
                <span class="material-symbols-outlined">
                    inventory
                    </span>
                    Stocks
            </a>
        </li>
        <li>
            <a routerLink="/report">
                <span class="material-symbols-outlined">
                    article
                    </span>
                    Report
            </a>
        </li>
    </ul>
</nav>