/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@100&display=swap");

body {
  margin: 0;
  background: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

h3 {
  font-family: "Raleway", sans-serif;
}

#container {
  display: grid;
  grid-template-columns: 100px auto;
  height: 100%;

  #content {
    padding: 30px 90px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        background: #fff;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 8px;

        a {
          font-size: 1.5em;
          text-decoration: none;
          font-weight: bold;
          color: #00a8ff;
        }

        ul {
          margin-top: 20px;

          li {
            padding: 0;

            a {
              font-size: 1em;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #container {
    display: grid;
    grid-template-columns: 70px auto;
  }

  nav ul {
    font-size: 0.8em;
  }

  #content {
    margin: -20px -60px;
  }

  ol {
    font-size: 0.8em;
    li {
      margin: 0.5em;
    }
  }

  button {
    margin: 0.2em;
  }

  input {
    width: 60%;
  }

  h1 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 0.9em;
  }
}

